<div class="mb-4 jumbotron-outer {custom-classes}">
    <div class="p-5 mb-4 bg-body-tertiary {custom-classes-inner}">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-sm-12 col-lg-5 col-md-8 p-4 rounded-3 jumbotron-content">
                    <h1 class="db-load display-5 fw-bold" id="jumbotron-{db-name}-title"></h1>
                    <h4 class="fs-6 fw-semibold fst-italic jumbotron-subtitle db-load"
                        id="jumbotron-{db-name}-subtitle"></h4>
                    <p class="col-md-8 fs-4 db-load" id="jumbotron-{db-name}-content"></p>
                    <button class="btn btn-primary btn-lg db-load" type="button" a="{button-link}"
                        onclick="{button-callback}" id="jumbotron-{db-name}-cta-button"></button>
                </div>
            </div>
        </div>
    </div>
</div>